@model Persona;

@{
    ViewData["Title"] = "Ejercicio de Clase Portafolio";
    DateTime hoy = DateTime.Now;
    var nombres = new List<string>() { "Felipe", "Rigoberto", "Eustaquio", "Casilda", "Carlos" };
}

<div class="text-center">
    <h1 class="display-4">Mclaren F1 Mechanic</h1>
    @* <h2>Soy un mecánico para @ViewBag.Nombre (@ViewBag.Edad)</h2> *@
    <h2>Soy un mecánico para @Model.Nombre.ToUpper() (@Model.Edad)</h2>
    <h2 class="border border-2 border-info">@hoy.ToString("dd/MM/yyyy HH:mm")</h2>

    @* Inserto una foto *@
    <img class="img w-25 img-thumbnail mx-4 rounded-circle" src="~/img/profile.jpg" alt="MecanicoF1" />
    @* Párrafo *@
    @if (Model.Edad >= 18)
    {
        <p class="align-content-center">
            Soy mecánico especializado en automovilismo de alto rendimiento, con experiencia en equipos de Fórmula 1
            donde la precisión y la rapidez son esenciales. Mi trayectoria incluye el mantenimiento integral de monoplazas,
            optimización de sistemas de suspensión, frenos y motores bajo condiciones extremas. Trabajo en entornos de alta presión,
            garantizando la seguridad y el máximo rendimiento en cada carrera. Me destaco por mi capacidad de diagnóstico técnico,
            resolución de problemas y coordinación con ingenieros y pilotos. He participado en múltiples temporadas,
            contribuyendo al éxito competitivo mediante innovación y disciplina. Mi objetivo es seguir perfeccionando
            procesos mecánicos y aportar valor en equipos que buscan excelencia. Apasionado por la ingeniería y la velocidad,
            combino conocimiento técnico con compromiso absoluto hacia la competición.
        </p>
    } else
    {
        <p>No se puede visualizar el párrafo porque la edad es menor a 18</p>
    }
    @* Creamos una lista junto con un bucle foreach() (Prueba)*@
    @* <ul>
        @foreach (var nombre in nombres)
        {
            <li>@nombre</li>
        }
    </ul> *@
</div>
@* Logo de .NET *@
<div class="text-center">
    <img class="div__img-dotnet" src="~/img/dotnet-imagen-2.png" alt="Logo de .NET" />
</div>
@* Seccion para nuestra descripcion
    Estara centrada, con fondo de color y color de fuente modificado*@

<div class="row justify-content-center text-center bg-primary">
    @* Creamos dos columnas con texto sobre mis habilidades y una clase propia para estilos *@
    <div class="col col-md-7 div-bienvenida">
        <h2>Te doy la bienvenida a mi portafolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sem facilisis, aliquam potenti 
            aptent augue parturient lobortis in mi, convallis lectus sociis vehicula id luctus justo
            venenatis. Rhoncus venenatis vulputate mattis convallis faucibus inceptos fames justo 
            enim praesent, sollicitudin cras tristique integer at odio cursus ultrices taciti. 
            Cum maecenas nunc nostra orci condimentum nisi massa, lacinia curae mattis auctor per 
            arcu potenti augue, ultricies dictum morbi facilisi consequat sem.
        </p>
    </div>
</div>
